html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f8f9fa;
}

.form-signin {
    width: 400px;
    margin: 60px auto 0;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 70px;
    margin-left: auto;
    padding: 50px 50px 30px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    background-color: #fff;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    vertical-align: middle;
    display: inline-block;
}
.nav-link{
    color: #999999;
}
.card-header {
    background-color: #ffffff;
    text-align: center;
    border-bottom: 0px;
}
.title{
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    box-sizing: border-box;
    line-height: 1.1;
    font-size: 18px;
    margin: 0 auto 50px;
    padding: 10px;
    font-weight: 400;
    color: #ffffff;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 ,div{
    font-family: '楷体',Tahoma, Microsoft YaHei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
.normal-title{
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    line-height: 1.1;
    font-size: 18px;
    font-weight: 400;
    color: #969696;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    box-sizing: border-box;
}
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}