<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="default_main_layout/head :: common(~{::title},~{::link},~{::script},~{:: meta})">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>主页</title>
	<!--    <link th:href="@{/css/floating-labels.css}"  type="text/css">-->
	<link rel="apple-touch-icon" href="" sizes="180x180">
	<!--现今移动设备越来越多，苹果为iOS设备配备了apple-touch-icon私有属性，添加该属性，在iPhone,iPad,iTouch的safari浏览器上可以使用添加到主屏按钮将网站添加到主屏幕上，方便用户以后访问。       -->
	<link rel="icon" href="" sizes="32x32" type="image/png">
	<link rel="icon" href="" sizes="16x16" type="image/png">
	<link rel="icon" href="favicon.ico">
	<!--    <link rel="manifest" href="&lt;!&ndash;/manifest.json&ndash;&gt;">-->
	<!--manifest 文件是一个简单的文本文件，列举出了浏览器用于离线访问而缓存的资源。    -->
	<link rel="mask-icon" href="" color="#563d7c">
	<!--    自从苹果升级为带Touch Bar的新Macbook Pro之后，每次打开Safari浏览器的时候，空白页面，在Touch Bar区域会显示Safari的收藏栏内容https://blog.ecdo.cn/post/582/%E4%B8%BA%E7%BD%91%E7%AB%99%E5%A2%9E%E5%8A%A0%E6%BC%82%E4%BA%AE%E7%9A%84mask-icon/-->
	<meta name="msapplication-config" content="/docs/4.3/assets/img/favicons/browserconfig.xml">
	<!--参考启动配置文件，参考https://blog.csdn.net/freshlover/article/details/25322839   -->
	<meta name="theme-color" content="#563d7c">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--参考手机的主题颜色，参考https://www.crifan.com/html_meta_theme_color_meaning/    -->
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon1.ico}"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<script th:src="@{/js/jquery-3.4.1.slim.min.js}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script th:src="@{/js/bootstrap.bundle.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<!--	<div th:replace="default/default_layout::head"/>-->
	<div th:replace="default_main_layout/head::HeadContainer"/>
	<main th:replace="default_main_layout/main::MainContainer"/>
	<footer th:replace="default_main_layout/footer::Footer"/>
</body>
</html>